/authors export-ignore
/code export-ignore
/junk export-ignore
/names export-ignore
/reading export-ignore
*.bbprojectd export-ignore
*.md export-ignore
*.rested export-ignore
*.json export-ignore
*.lock export-ignore
*.php export-ignore
*.gitattributes export-ignore
*.gitignore export-ignore
